{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "1.0.4"},
    {gproc, "0.5.0"},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
    {uuid, {git, "https://github.com/okeuday/uuid.git", {tag, "v1.7.1"}}}
    %% {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}}
]}.
{relx, [{release, { games, "0.1.0" },
         [games, cowboy, gproc]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {overlay, [{copy, "priv", "priv"}]},
               
        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{deps_error_on_conflict, true}.